DJANGO_ENV=development
DB_NAME=lms
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_HOST=127.0.0.1
DB_PORT=3306
SECRET_KEY=dev-secret-key

# One Account OIDC
ONE_ACCOUNT_OIDC_ENABLED=false
ONE_ACCOUNT_OIDC_DOMAIN=http://test.cn
ONE_ACCOUNT_OIDC_CLIENT_ID=fake_client_id_32_length_value_demo
ONE_ACCOUNT_OIDC_REDIRECT_URI=http://localhost:5173/login/oidc/callback
ONE_ACCOUNT_OIDC_SCOPE=openid
ONE_ACCOUNT_OIDC_AUTH_PATH=/auth-server/auth
ONE_ACCOUNT_OIDC_TOKEN_PATH=/auth-server/token
ONE_ACCOUNT_OIDC_CLIENT_PRIVATE_KEY=
